<table class="table">
  <thead>
    <tr>
      <th>First Name</th>
      <th>Last Name</th>
      <th>Mob num</th>
      <th>Action</th>
    </tr>
  </thead>
  <tbody>
    <tr class="info">  
      <td><%= @user.first_name %></td>
      <td><%= @user.last_name %></td>
      <td><%= @user.mob_no %></td>
      <td><%= link_to 'Delete', owner_user_path(current_owner, @user), method: :delete, :class => "btn btn-default btn-xs"  %>
        <%= link_to 'Edit',  edit_owner_user_path(current_owner, @user),  :class => "btn btn-warning btn-xs"  %>
      </td>
    </tr>
  </tbody>
</table>
